.story-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-page {
    height: 90vh;
    overflow-y: auto;
}

.navbar {
    margin-bottom: 0px;
}

.halloween {
    background-image: url('../img/halloween-pattern.jpg');
    /* Center and scale the image nicely */
    background-repeat: repeat;
    margin-bottom: 10px;
    border-radius: 10px;
}

.xmas {
    background-image: url('../img/xmas-pattern.jpg');
    /* Center and scale the image nicely */
    background-repeat: repeat;
    margin-bottom: 10px;
    border-radius: 10px;
}

.standard {
    background-image: url('../img/standard-pattern.jpg');
    /* Center and scale the image nicely */
    background-repeat: repeat;
    margin-bottom: 10px;
    border-radius: 10px;
}