<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'html_components/bootstrap.html' %}
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <!--Navigation bar-->
    {% include 'html_components/nav.html' %}
    <!--end of Navigation bar-->

    <div class="container">
      <h2>Followed users</h2>

      <ul class="list-unstyled">
        {% for user in users %}
        <li id="user_{{user.id}}">
          <a class="text-muted btn" disabled="true" href="/users/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
          <button type="button" class="btn btn-sm btn-outline-danger" onclick="unfollow({{user.id}})">Unfollow</button>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% else %}
    Hi Anonymous, <a href="/login">Log in</a> or <a href="/signup">Sign Up</a>
    {% endif %}
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script>
    function unfollow(id) {
      fetch('/users/' + id + '/follow', {method: 'DELETE'})
        .then(function (response) {
          if (response.ok) {
            let name = $('#user_' + id + ' a').text()
            let alert = `
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                ${name} unfollowed
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>`
            $('#user_' + id).html(alert)
          } else {
            console.log('invalid unfollow operation')
          }
        })
    }
  </script>

</html>
