<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
</head>

<body>
{% if current_user.is_authenticated %}
    <!--Navigation bar-->
    {% include 'html_components/nav.html' %}
    <!--end of Navigation bar-->
    <div class="container-fluid">
    <div class="row">

    </div>

        <div class="jumbotron  bg-white">

            {% if stories != []: %}
                <div class="row flex-column-reverse flex-md-row">

                    <!-- -------------- STORY LIST ------------- -->
                    <div class="col-sm-6">

                        <h2>Your Stories</h2>
                        <hr class="style1">
                        <br>
                        {% for story in stories %}
                            <div>
                                <ul class="list-group">
                                    {% if story.is_draft %}
                                        {% include 'html_components/story_draft_template.html' %}
                                    {% else %}
                                        {% include 'html_components/story_template.html' %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endfor %}

                    </div>


                    <!-- -------------- STATISTICS------------- -->

                    <div class="col-sm-6">
                        {% if stats != {}: %}

                            <h2>Your Statistics</h2>
                            <hr class="style1">
                            <br>
                            <div class="alert alert-primary" role="alert">
                                You are an {{ "active" if stats['active'] else "inactive" }} user, since you
                                {{ "don't" if not stats['active'] }} post a story in the last seven days
                            </div>


                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Number of published stories
                                    <span class="badge badge-secondary badge-pill">{{ stats['stories'].number_of_stories }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Number of likes received
                                    <span class="badge badge-secondary badge-pill">{{ stats['stories'].total_likes }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Avg likes per stories:
                                    <span class="badge badge-secondary badge-pill">{{ stats['stories'].total_likes/stats['stories'].number_of_stories }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Number of dislikes received
                                    <span class="badge badge-secondary badge-pill">{{ stats['stories'].total_dislikes }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Average of dice used
                                    <span class="badge badge-secondary badge-pill">{{ stats['avg_dice'] }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Number of stories
                                    <span class="badge badge-secondary badge-pill">{{ stats['stories_frequency'] }}</span>
                                </li>
                            </ul>
                        {% else: %}
                            <h2> No stats </h2>
                        {% endif %}
                    <br><br>
                    </div>
                </div>

            {% else: %}
                <h2> You haven't published stories yet </h2>
            {% endif %}


        </div>
    </div>

{% endif %}

<script>
    function deleteStory(story_id) {
        fetch('/stories/' + story_id, {method: 'DELETE'})
            .then(response => response.json())
            .then(data => {
                alert(data.message)
                window.location.replace('/stories');
            });
    }
</script>

</body>
</html>
