<html>

<head>
    {% include 'html_components/bootstrap.html' %}
</head>

<body>
{% if current_user.is_authenticated %}
    <!--Navigation bar-->
    {% include 'html_components/nav.html' %}
    <!--end of Navigation bar-->
    <div class="container-fluid">

    <div class="jumbotron">
    {% if stories != []: %}
        
        {% if stats != {}: %}
        You are an {{ "active" if stats['active'] else "inactive" }} user, since you {{ "don't" if not stats['active'] }} post a story in the last seven days
            <h2>Your stats</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        Number of published stories: {{ stats['stories'].number_of_stories }}
                    </li>
                <li class="list-group-item">
                    Number of likes received: {{ stats['stories'].total_likes }}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Avg likes per stories: {{ stats['stories'].total_likes/stats['stories'].number_of_stories }} </li>
                    </ul>
                </li> 
                <li class="list-group-item">
                    Number of dislikes received: {{ stats['stories'].total_dislikes }}
                </li>
                <li class="list-group-item">
                    Average of dice used: {{ stats['avg_dice'] }}
                </li>
                <li class="list-group-item">
                    Number of stories : {{ stats['stories_frequency'] }}
                </li>
            </ul>
        {% else: %}
            <h2> No stats </h2>
        {% endif %}
    
        <h2>Your Stories</h2>
        {% for story in stories%}
            <div>
            <li>
                {% if story.is_draft %}
                <a href="/stories/{{ story.id }}"> {{ story.text }} </a>-- drafted in date {{ story.date }} <a href="/stories/{{ story.id }}/edit">Edit!</a>
                {% else %}
                <a href="/stories/{{ story.id }}"> {{ story.text }} </a>-- published in date {{ story.date }}
                {% endif %}
                <ul>
                <li>Likes:{{ story.likes }} Dislikes:{{ story.dislikes }}</li>
                </ul>
            </li>
            </div>
        {% endfor %}

    {% else: %}
        <h2> You haven't published stories yet </h2>
    {% endif %}


    </div>
    </div>

{% else %}
  Hi Anonymous, <a href="/login">Log in</a> or <a href="/signup">Sign Up</a>
{% endif %}

</body>
</html>
