<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- ----------------- NAV BAR ------------------ -->
{% if current_user.is_authenticated %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Storytellers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/stories">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newStory">New Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">My Wall <span class="sr-only">(current)</span></a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout ({{ current_user.firstname }})</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid">

    <div class="jumbotron">

            <form action="/rollDice" method="GET" role="form">

                <label for="validationTooltip01">How many dice you want to roll?</label>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">

                        <label class="btn btn-secondary active">
                            <input type="radio" name="dicenum" id="dicenum" autocomplete="off" value="4"
                                   style="visibility:hidden;" checked> 4
                        </label>


                        <label class="btn btn-secondary">
                            <input type="radio" name="dicenum" id="dicenum" autocomplete="off" value="5"
                                   style="visibility:hidden;"> 5
                        </label>


                        <label class="btn btn-secondary">
                            <input type="radio" name="dicenum" id="dicenum" autocomplete="off" value="6"
                                   style="visibility:hidden;"> 6
                        </label>

                    </div>
                </div>
                <label for="validationTooltip02">Choose Dice Set</label>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        {% for set in diceset %}
                            <label class="btn btn-light">
                                <input type="radio" name="diceset" id="dicenum" autocomplete="off" value="{{ set }}"
                                       style="visibility:hidden;" checked>
                                {{ set }}
                                <img src="static/img/{{ set }}.png" style="height: 2em;width: 2em;">
                            </label>

                        {% endfor %}

                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Roll the dice</button>
            </form>
    </div>



{% else %}
    Hi Anonymous, <a href="/login">Log in</a>
{% endif %}

</div>


</body>
</html>
