<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
    <link href="/static/css/background.css" rel="stylesheet"/>
</head>

<body>

<!--Navigation bar-->
{% include 'html_components/nav.html' %}
<!--end of Navigation bar-->

<!-- story, marked, val -->

<div class="container" style="width: 100%">
    {% include 'html_components/big_story_template.html' %}
</div>


<script>
    function like(url) {
        let formData = new FormData()
        formData.append('like', '1')
        fetch(url, {method: 'POST', body: formData})
            .then(response => response.ok ? response.json() : Promise.reject('Story already liked'))
            .then(data => {
                if (data.message === 'Reaction updated') {
                    $('#likes').text(function (idx, old) {
                        return parseInt(old) + 1
                    })
                    $('#dislikes').text(function (idx, old) {
                        return parseInt(old) - 1
                    })
                } else {
                    $('#likes').text(function (idx, old) {
                        return parseInt(old) + 1
                    })
                }
            }).catch(msg => {
            $('#message').text(msg)
        })
    }

    function dislike(url) {
        let formData = new FormData()
        formData.append('dislike', '1')
        fetch(url, {method: 'POST', body: formData})
            .then(response => response.ok ? response.json() : Promise.reject('Story already disliked'))
            .then(data => {
                if (data.message === 'Reaction updated') {
                    $('#dislikes').text(function (idx, old) {
                        return parseInt(old) + 1
                    })
                    $('#likes').text(function (idx, old) {
                        return parseInt(old) - 1
                    })
                } else {
                    $('#dislikes').text(function (idx, old) {
                        return parseInt(old) + 1
                    })
                }
            }).catch(msg => {
            $('#message').text(msg)
        })
    }
</script>
</body>

</html>
