<html>

<head>
    {% include 'html_components/bootstrap.html' %}
    <link href="/static/css/story.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/sidebar.css" rel="stylesheet">
</head>
<body>

<!--Navigation bar-->
{% include 'html_components/nav.html' %}

<!--end of Navigation bar-->
<div class="container-fluid">
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-white border-right" id="sidebar-wrapper" id="sidebar-wrapper">
            <i class="fas fa-angle-left fa-2x togglebutton" id="menu-toggle"></i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <br>

            <h4>Followed users</h4>

            <div class="list-group list-group-flush">
                {% for user in users %}
                    <div class="list-group-item d-flex justify-content-between align-items-center"
                         id="user_{{ user.id }}">
                        <a class="text-dark btn" disabled="true"
                           href="/users/{{ user.id }}">{{ user.username }}</a>
                        <span type="button" class="badge badge-danger badge-pill btn" onclick="unfollow({{ user.id }})">
                            Unfollow
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="jumbotron bg-white" id="page-content-wrapper">

            <!-- Story list -->
            <ul class="list-group">
                <div class="row">
                    {% for story in stories: %}
                        <div class="col-md-12">
                            {% include 'html_components/story_template.html' %}
                        </div>
                    {% else %}
                        <div class="container text-center justify-content-center align-items-center h-100"
                             id="page-content-wrapper">

                            <h3 class="display-5" style="margin-top: 4rem">
                                {{ message }}
                            </h3>

                        </div>
                    {% endfor %}
                </div>
            </ul>

        </div>
    </div>


</div>

<script>
    function follow(user_id) {
        fetch('/users/' + user_id + '/follow', {method: 'POST'})
            .then(function (response) {
                if (response.ok) {
                    alert('Now following user ' + user_id)
                    location.reload();
                } else {
                    console.log('Invalid follow request to user: ' + user_id)
                }
            });
    }

    function deleteStory(story_id) {
        fetch('/stories/' + story_id, {method: 'DELETE'})
            .then(response => response.json())
            .then(data => {
                alert(data.message)
                window.location.replace('/stories');
            });
    }
</script>
<script>
    function unfollow(id) {
        fetch('/users/' + id + '/follow', {method: 'DELETE'})
            .then(function (response) {
                if (response.ok) {
                    let name = $('#user_' + id + ' a').text()
                    let alert = `
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                ${name} unfollowed
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>`
                    $('#user_' + id).html(alert)
                } else {
                    console.log('invalid unfollow operation')
                }
            })
    }
</script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if (!$("#wrapper").hasClass("toggled")) {
            $("#menu-toggle").addClass("toggled");
            $("#menu-toggle").addClass("fa-angle-left");
            $("#menu-toggle").removeClass("fa-angle-right");
        } else {
            $("#menu-toggle").removeClass("toggled");
            $("#menu-toggle").removeClass("fa-angle-left");
            $("#menu-toggle").addClass("fa-angle-right");
        }

    });

</script>

</body>
</html>
